.d-none{
    display:none;
}
.todos-results{
    border: 2px solid lightgray;
}
.note{
    background-color: #d1b226;
    padding: 20px;
    margin: 10px 10px;
    box-shadow: 0px 4px 15px 0px #888;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.note.active{
    height:auto;
}
.note:hover {
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.note .title{
    font-weight: bold;
}
.color-text-gray{
    color:#222;
}
.line{
    border:1px dashed #888
}
.btn-delete{
    position: absolute;
    bottom: 0rem;
    right:2rem;
}
.btn-update {
    position: absolute;
    bottom: 0.2rem;
    right: 6rem;
}
.btn-edit {
    position: absolute;
    bottom: 0rem;
    right: 4rem;
}